# Dependencies
node_modules/
.pnp/
.pnp.js

# Production build
dist/
dist-ssr/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files
.env
.env.*
!.env.example

# System & IDE files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel & Cache
.vercel/
.cache/
.temp/
.tmp/
